@model Ship.Model.ViewModel.Admin.GetListSoomViewModel


<div class="modal fade" id="ModalIUEditSafar" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @if (Model.Id == 0)
                    {
                        <text>افزودن سفر  به صوم : 00</text>
                    }
                    else
                    {
                        <text>ویرایش سفر  از صوم : 00</text>
                    }
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning border-0 bg-warning alert-dismissible fade show py-2">
                    <div class="d-flex align-items-center">
                        <div class="font-35 text-dark">
                            <i class='bx bx-info-circle'></i>
                        </div>
                        <div class="ms-3">
                            <h6 class="mb-0 text-dark">توجه!</h6>
                            <div class="text-dark">تمامی اعداد را با کیبرد انگلیسی وارد نمایید !</div>
                        </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-primary" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#primaryhome" role="tab"
                                           aria-selected="true">
                                            <div class="d-flex align-items-center">
                                                <div class="tab-icon">
                                                    <i class='bx bxs-home font-18 me-1'></i>
                                                </div>
                                                <div class="tab-title">خانه</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#primaryprofile" role="tab"
                                           aria-selected="false">
                                            <div class="d-flex align-items-center">
                                                <div class="tab-icon">
                                                    <i class='bx bxs-user-pin font-18 me-1'></i>
                                                </div>
                                                <div class="tab-title">پروفایل</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#primarycontact" role="tab"
                                           aria-selected="false">
                                            <div class="d-flex align-items-center">
                                                <div class="tab-icon">
                                                    <i class='bx bxs-microphone font-18 me-1'></i>
                                                </div>
                                                <div class="tab-title">تماس با ما</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content py-3">
                                    <div class="tab-pane fade show active" id="primaryhome" role="tabpanel">
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                                            تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم
                                            ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                            سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="primaryprofile" role="tabpanel">
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                                            تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم
                                            ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                            سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن
                                            ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                                            تولید سادگی نامفهوم.
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="primarycontact" role="tabpanel">
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                                            تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم
                                            ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                            سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                            ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
                                            نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>