@{
    ViewBag.Title = "سفر";

    int IdUser = int.Parse(User.Identity.Name.Replace("TankhaGardan", ""));


    string referer = Request.ServerVariables["http_referer"];

    if (string.IsNullOrWhiteSpace(referer))
    {
        referer = @"/Tankha/Default";
    }

    if (Request.QueryString["Id"] != null)
    {

        try
        {
            int.Parse(Request.QueryString["Id"].ToString());
        }
        catch (Exception e)
        {
            Response.Redirect(referer, false);
            return;
        }
    }
    else
    {
        Response.Redirect(referer, false);
        return;
    }


    int IdShip = int.Parse(Request.QueryString["Id"].ToString());

    var itm = SiteSettingBLL.GetListShipByIdShip(IdShip).First();

    if (itm == null)
    {
        Response.Redirect(referer, false);
        return;
    }
}

<input type="hidden" id="IdShip" value="@itm.Id" />
<input type="hidden" id="IdSoom" value="@itm.Id" />


<div class="page-breadcrumb d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">داشبورد</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="/tankha"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="/tankha">لنج (@itm.Title)</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">سفر</li>
            </ol>
        </nav>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <div id="DivListSafar"></div>
    </div>
</div>

<div id="DivModalIUSoom"></div>


@section js_down{
    <script>
        function _Open() {
            $.ajax({
                url: "/tankha/Safar/SafarIsOpen",
                method: "POST",
                data: { IdSoom: $('#IdSoom').val() },
                success: function (data) {
                    if (Boolean(data) == false) {
                        Open2();
                    } else {
                        Lobibox.notify('error',
                            {
                                pauseDelayOnHover: true,
                                continueDelayOnInactiveTab: false,
                                position: 'top right',
                                icon: 'bx bx-x-circle',
                                msg: 'برای ایجاد سفر باید سفر قبل بسته شود'
                            });

                        return false;
                    }
                },
                error: function () {
                    Lobibox.notify('error',
                        {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: 'top right',
                            icon: 'bx bx-x-circle',
                            msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                        });

                    return false;
                },
                beforeSend: function () {

                }
            });
        }
        function Open2() {
            $.ajax({
                url: "/tankha/Safar/_Add",
                method: "POST",
                data: { Id: $('#IdSoom').val() },
                success: function (data) {
                    $('#DivModalIUSoom').html('');
                    $('#DivModalIUSoom').html(data);

                    $('#ModalIUSafar').modal('show');

                    $('.datepicker2').persianDatepicker({
                        observer: true,
                        format: 'YYYY/MM/DD',
                        initialValueType: 'persian'
                    });
                },
                error: function () {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        continueDelayOnInactiveTab: false,
                        position: 'top right',
                        icon: 'bx bx-x-circle',
                        msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                    });
                },
                beforeSend: function () {

                }
            });
        }
        function ToEditSafar(Id) {
            $.ajax({
                url: "/tankha/Safar/ChekerOpenSafar",
                method: "POST",
                data: { IdSafar: Id, IdSoom: $('#IdSoom').val() },
                success: function (data) {
                    if (Boolean(data.status) === true) {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: 'top right',
                            icon: 'bx bx-x-circle',
                            msg: 'برای ویرایش ابتدا سفر را باز کنید'
                        });
                    } else {
                        openedit2(Id);
                    }
                },
                error: function () {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        continueDelayOnInactiveTab: false,
                        position: 'top right',
                        icon: 'bx bx-x-circle',
                        msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                    });
                },
                beforeSend: function () {

                }
            });
        }
        function openedit2(Id) {
            $.ajax({
                url: "/tankha/Safar/EditSafarMaster",
                method: "POST",
                data: { Id: Id, IdSoom: $('#IdSoom').val() },
                success: function (data) {
                    $('#DivModalIUSoom').html('');
                    $('#DivModalIUSoom').html(data);

                    $('#ModalIUEditSafar').modal('show');

                    $('.datepicker2').persianDatepicker({
                        observer: true,
                        format: 'YYYY/MM/DD',
                        initialValueType: 'persian'
                    });
                },
                error: function () {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        continueDelayOnInactiveTab: false,
                        position: 'top right',
                        icon: 'bx bx-x-circle',
                        msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                    });
                },
                beforeSend: function () {

                }
            });
        }
        function GetListSafar() {

            $.ajax({
                url: "/tankha/Safar/GetListSafar",
                method: "POST",
                data: { IdShip: $('#IdShip').val() },
                success: function (data) {

                    $('#DivListSafar').html('');
                    $('#DivListSafar').html(data);

                    var table = $('#TableSafar').DataTable({
                        lengthChange: false,
                        "order": [[1, "asc"]]
                    });

                    // CheckerSoomOpen($('#IdSoom').val());
                },
                error: function () {
                    Lobibox.notify('error',
                        {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: 'top right',
                            icon: 'bx bx-x-circle',
                            msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                        });
                },
                beforeSend: function () {

                }
            });
        }

        function AddSaveSafar() {

            $('#TxtFromDate,#TxtToDate,#TxtTitle,#TxtTabakh,#TxtGolatetamirat').removeClass('inputerror');

            var eror = false;

            if ($('#TxtFromDate').val().trim().length !== 10) {
                $('#TxtFromDate').addClass('inputerror');
                eror = true;
            }
            if ($('#TxtToDate').val().trim().length !== 10) {
                $('#TxtToDate').addClass('inputerror');
                eror = true;
            }
            if ($('#TxtTitle').val().trim().length === 0) {
                $('#TxtTitle').addClass('inputerror');
                eror = true;
            }
            if ($('#TxtTabakh').val().trim().length === 0) {
                $('#TxtTabakh').addClass('inputerror');
                eror = true;
            }
            if ($('#TxtGolatetamirat').val().trim().length === 0) {
                $('#TxtGolatetamirat').addClass('inputerror');
                eror = true;
            }

            if (eror) {
                return false;
            }


            $.ajax({
                type: 'POST',
                url: '/tankha/Safar/AddSaveSafar',
                data: {
                    IdSoom: $('#IdSoom').val(),
                    FromDate: $('#TxtFromDate').val(),
                    ToDate: $('#TxtToDate').val(),
                    Tozihat: $('#TxtTozihat').val(),
                    Title: $('#TxtTitle').val(),
                    PriceFood: $('#TxtTabakh').val(),
                    TamiratGolate: $('#TxtGolatetamirat').val()
                },
                success: function (dataa) {

                    if (parseInt(dataa) == 1) {
                        GetListSafar();
                        $('#ModalIUSafar').modal('hide');
                    } else if (parseInt(dataa) == -1) {
                        Lobibox.notify('error',
                            {
                                pauseDelayOnHover: true,
                                continueDelayOnInactiveTab: false,
                                position: 'top right',
                                icon: 'bx bx-x-circle',
                                msg: 'سفر قبل بسته نشده است'
                            });
                    }
                    else if (parseInt(dataa) == -2) {
                        Lobibox.notify('error',
                            {
                                pauseDelayOnHover: true,
                                continueDelayOnInactiveTab: false,
                                position: 'top right',
                                icon: 'bx bx-x-circle',
                                msg: 'تاریخ پایان نمی تواند بزرگتر از تاریخ شروع باشد'
                            });
                    }
                    else if (parseInt(dataa) == -5) {
                        Lobibox.notify('error',
                            {
                                pauseDelayOnHover: true,
                                continueDelayOnInactiveTab: false,
                                position: 'top right',
                                icon: 'bx bx-x-circle',
                                msg: 'تاریخ های وارد شده برای این سفر با دیگر سفر های این لنج تداخل دارد'
                            });
                    }
                    else if (parseInt(dataa) == -3) {
                        Lobibox.notify('error',
                            {
                                pauseDelayOnHover: true,
                                continueDelayOnInactiveTab: false,
                                position: 'top right',
                                icon: 'bx bx-x-circle',
                                msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                            });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Lobibox.notify('error',
                        {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: 'top right',
                            icon: 'bx bx-x-circle',
                            msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                        });
                }
            });

        }
        $(document).ready(function () {
            GetListSafar();
        });
        function ToDeteilSafar(Id, IdSoom) {

            $('#IdSoom').val(IdSoom);


            $.ajax({
                url: "/tankha/Safar/ChekerOpenSafar",
                method: "POST",
                data: { IdSafar: Id, IdSoom: $('#IdSoom').val() },
                success: function (data) {
                    if (Boolean(data.status) === true) {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: 'top right',
                            icon: 'bx bx-x-circle',
                            msg: 'برای ویرایش ابتدا سفر را باز کنید'
                        });
                    } else {
                        $.ajax({
                            url: "/tankha/Safar/GetDeteilSafar",
                            method: "POST",
                            data: { Id: Id, IdSoom: $('#IdSoom').val() },
                            success: function (data) {
                                $('#DivModalIUSoom').html('');
                                $('#DivModalIUSoom').html(data);

                                $('#ModalIUEditDeteilSafar').modal('show');

                                $('.datepicker2').persianDatepicker({
                                    observer: true,
                                    format: 'YYYY/MM/DD',
                                    initialValueType: 'persian'
                                });

                                ToShowPage(6);
                            },
                            error: function () {
                                Lobibox.notify('error', {
                                    pauseDelayOnHover: true,
                                    continueDelayOnInactiveTab: false,
                                    position: 'top right',
                                    icon: 'bx bx-x-circle',
                                    msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                                });
                            },
                            beforeSend: function () {

                            }
                        });
                    }
                },
                error: function () {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        continueDelayOnInactiveTab: false,
                        position: 'top right',
                        icon: 'bx bx-x-circle',
                        msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                    });
                },
                beforeSend: function () {

                }
            });


        }
        function ToCopy(Id) {
            $.alert({
                title: 'توجه!',
                content: 'آیا مایل به کپی سفر هستید !',
                rtl: true,
                closeIcon: true,
                buttons: {
                    confirm: {
                        text: 'تایید',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                                type: 'POST',
                                url: '/tankha/Safar/CopySafar',
                                data: {
                                    IdSoom: $('#IdSoom').val(),
                                    IdSafar: Id
                                },
                                success: function (dataa) {

                                    if (parseFloat(dataa) > 0) {
                                        GetListSafar();
                                        $('#ModalIUSafar').modal('hide');

                                        ToEditSafar(dataa);
                                    } else {
                                        Lobibox.notify('error',
                                            {
                                                pauseDelayOnHover: true,
                                                continueDelayOnInactiveTab: false,
                                                position: 'top right',
                                                icon: 'bx bx-x-circle',
                                                msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                                            });
                                    }

                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    Lobibox.notify('error',
                                        {
                                            pauseDelayOnHover: true,
                                            continueDelayOnInactiveTab: false,
                                            position: 'top right',
                                            icon: 'bx bx-x-circle',
                                            msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                                        });
                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'انصراف',
                        action: function () { }
                    }
                }
            });
        }
        function ToShowPage(Id) {
            $.ajax({
                url: "/tankha/Safar/ToShowPage",
                method: "POST",
                data: { Id: Id, IdSafar: $('#IdSafar').val(), IdShip: $('#Id_Ship').val() },
                success: function (data) {
                    $('#tap' + Id).html('');
                    $('#tap' + Id).html(data);


                    if (Id == 7) {
                        $('.datepicker2').persianDatepicker({
                            observer: true,
                            format: 'YYYY/MM/DD',
                            initialValueType: 'persian'
                        });
                    }

                },
                error: function () {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        continueDelayOnInactiveTab: false,
                        position: 'top right',
                        icon: 'bx bx-x-circle',
                        msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                    });
                },
                beforeSend: function () {

                }
            });
        }


        function CheckerSoomOpen(Id) {
            $.ajax({
                url: "/tankha/Safar/CheckerSoomOpen",
                method: "POST",
                data: { IdSoom: Id },
                success: function (data) {
                    if (Boolean(data) === false) {
                        $('#BtnAddSafar').remove();
                    }
                },
                error: function () {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        continueDelayOnInactiveTab: false,
                        position: 'top right',
                        icon: 'bx bx-x-circle',
                        msg: 'خطا در عملکرد سرور، لطفا دقایقی دیگر دوباره تلاش کنید.'
                    });
                },
                beforeSend: function () {

                }
            });
        }

        $(document).ready(function () {
            $('input').keyup(function () {
                this.value = fixPersianNumber(this.value);
            });
        });
    </script>
}