<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="UseInternalLayout" value="false" />
    <add key="CaptchaActive" value="On" />
    <add key="CdnUrl" value="https://golateh.com" />
    <add key="EnableErrorPage" value="off" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error404">
      <error redirect="~/Error404" statusCode="404" />
      <error redirect="~/Error500" statusCode="500" />
    </customErrors>
    <roleManager enabled="true" defaultProvider="MyProvider">
      <providers>
        <clear />
        <add name="MyProvider" type="Ship.Model.BLL.Site.MyProvider" />
      </providers>
    </roleManager>
    <machineKey validationKey="E4451576F51E0562D91A1748DF7AB3027FEF3C2CCAC46D756C833E1AF20C7BAEFFACF97C7081ADA4648918E0B56BF27D1699A6EB2D9B6967A562CAD14767F163" decryptionKey="6159C46C9E288028ED26F5A65CED7317A83CB3485DE8C592" validation="HMACSHA256" decryption="AES" />
    <authentication mode="Forms">
      <forms name="SingleSignOn" loginUrl="/LoginAdmin/Index" slidingExpiration="true" defaultUrl="/" timeout="43200" cookieless="UseCookies">
        <credentials passwordFormat="SHA1" />
      </forms>
    </authentication>
    <compilation batchTimeout="2700" debug="true" defaultLanguage="c#" targetFramework="4.8" />
    <globalization culture="fa-IR" uiCulture="fa-IR" requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="15360" requestLengthDiskThreshold="15360" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="UserCache1Min" duration="60" varyByParam="*" varyByCustom="User" location="Server" />
          <add name="UserCache10Min" duration="600" varyByParam="*" varyByCustom="User" location="Server" />
          <add name="UserCache30Min" duration="1800" varyByParam="*" varyByCustom="User" location="Server" />
          <add name="UserCache1Hour" duration="3600" varyByParam="*" varyByCustom="User" location="Server" />
          <add name="UserCache12Hour" duration="43200" varyByParam="*" varyByCustom="User" location="Server" />
          <add name="UserCache24Hour" duration="86400" varyByParam="*" varyByCustom="User" location="Server" />
          <add name="AllCache1Hour" duration="3600" varyByParam="*" location="Server" />
          <add name="AllCache12Hour" duration="43200" varyByParam="none" />
          <add name="AllCache24Hour" duration="86400" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <sessionState timeout="100" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript; charset=UTF-8" />
      <remove fileExtension=".mp4" />
      <remove fileExtension=".gif" />
      <remove fileExtension=".htm" />
      <remove fileExtension=".html" />
      <remove fileExtension=".jpeg" />
      <remove fileExtension=".jpg" />
      <remove fileExtension=".js" />
      <remove fileExtension=".png" />
      <remove fileExtension=".txt" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
      <mimeMap fileExtension=".htm" mimeType="text/html; charset=UTF-8" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".js" mimeType="application/x-javascript" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <caching>
      <profiles>
        <add extension="*.png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="364:30:30" />
        <add extension="*.gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="364:30:30" />
        <add extension="*.jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="364:30:30" />
        <add extension="*.js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="364:30:30" />
        <add extension="*.css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="364:30:30" />
      </profiles>
    </caching>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
        </fileExtensions>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
  <connectionStrings>
    <add name="GolatehEntities" connectionString="MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client>
 
    </client>
  </system.serviceModel>
</configuration>
